.contact {
    background-color: var(--light-g);
    text-align: center;
}

.contact h1 {
    font-size: 3rem;
    color: var(--dark-green);
}

.wave-3 {
    background-color: var(--light-g);
    width: 100%;
}

.wave-3 img {
    width: 100%;
}