:root {
  --dark-green: #555D50;
  --dark-g-2: #828E7B;
  --med-g: #9AA394;
  --light-g: #B1B8AD;
  --light-g-2: #E0E3DE;
  --dark: #1F2024;
  background-color: var(--light-g-2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 2000px) {
  * {
    margin: auto;
  }
}